body {
	color: #000;
	font-family: Verdana,'Trebuchet MS','Lucida Grande', Arial, sans-serif;
	font-size: .8em;
	line-height: 1.25em;
	margin: 0;
	padding: 0;
	text-align: center;
}
#header {
height:145px;
margin:0;
padding:0;
width:100%;
}
#blogname {
height:30px;
padding-left:12px;
padding-top:28px;
text-align:center;
}

#footer {
	background:#223344;
	clear: both;
	height: 60px;
	padding: 10px;
	text-align: center;
	margin:0 auto;
	color:#ccc;
	bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
}
